<!DOCTYPE html>
<html lang="bg">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Healthy Food - {{ title }}</title>
    {% else %}
        <title>Healthy Food</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/home">Healthy Food</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Начало</a>
                <div class="dropdown">
                    <a class="nav-item nav-link dropdown-toggle" href="{{ url_for('recipes') }}" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Всички</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Закуски</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Салати</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Основни</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Десерти</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('recipes') }}">Напитки</a></li>
                    </ul>
                    </div>
              <a class="nav-item nav-link" href="{{ url_for('recipes') }}">Рецепти</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">За Сайта</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ current_user.username }}
                            <img class="rounded-circle" src="{{ '../static/profile_pics/' + current_user.image_file }}" title="Профил" alt="image" height="30" width="30">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('account') }}">Моят Профил</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('new_recipe') }}">Нова Рецепта</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Изход</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Вход</a>
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Регистрация</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
          </div>
        </div>
        <!-- Flash Messages -->
        <div class="col-md-9 ms-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
</body>
</html>